.chartContainer {
  margin-top: 2vw;
  margin-bottom: 3vw;
  margin-left: -15%;
  width: 110%;
}

.chartContainer.issueDistributionContainer {
  height: 1000px;
}

.chartContainer.issueTypeDistributionContainer {
  height: 500px;
}

.chartContainer.alertsByRoute {
  height: 800px;
}
