.chartContainer {
  margin-top: 2vw;
  margin-bottom: 3vw;
  margin-left: -15%;
  width: 110%;
}

.pieChartContainer {
  margin-top: 2vw;
  margin-bottom: 3vw;
  width: 120%;
  margin-left: -10%;
}

.pieChartContainer.issueDistributionContainer {
  height: 800px;
}

.chartContainer.issueTypeDistributionContainer {
  height: 500px;
}

.chartContainer.alertsByRoute {
  height: 700px;
}

.chartContainer.lineAverages {
  height: 1000px;
}
