.mainBlogBody {
  width: 100vw;
  padding-left: 16%;
  padding-right: 15%;
  padding-top: 3vw;
  font-size: 1.25vw;
  color: var(--theme-black);
}

.title {
  font-size: 3vw;
  font-weight: bold;
}

.subtitle {
  font-style: italic;
  margin-top: 1vw;
  color: var(--theme-gray);
  font-size: 1.25vw;
}

.blogBody {
  margin-top: 3vw;
  margin-bottom: 5vw;
}

.blogParagraph {
  margin-top: 2vw;
}

.blogBody a {
  color: rgb(154, 154, 154);
  font-weight: bold;
  text-decoration-thickness: 2px;
}

.lineSelectorContainer {
  margin-top: 2vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lineSelector {
  width: 20%;
}
